body {
	width:100%;
	background: url(../images/background.jpg)
}

.main-body {
	margin-top: 3%;
	padding-bottom:20px;
	background: rgba(255,255,255,0.9);
}

img {
	margin: 0px 2px 0px 0px;
}

#second-instruction, #third-instruction, #fourth-instruction {
	display:none;
}

.float-under-image {
	background-color: white;
	text-align: center;
	width:140px;
	height:140px;
	margin:3px;
	z-index: 2;
	float:left;
}

.img{
	position:absolute;
	z-index: 3;
	top:20px;
	left:20px;
}

.image-with-float {
	float: left;
	position:relative;
}

h3 {
	clear:both;
}

.scores {
	margin-left: 20px;
	padding-left: 20px;
	float:left;
}

button {
	margin:10px;
	float:left;
}
